/*font-family: 'Shadows Into Light Two', cursive;
font-family: 'Amatic SC', cursive;
font-family: 'Waiting for the Sunrise', cursive;*/

/* Layout Stylesheet **********************/

/*General Styling ========================*/
/*========================================*/
body {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

nav ul a,
nav .brand-logo {
  color: #FFFFFF;
}

p {
  line-height: 2rem;
}

img {
    border: 0;
}

.btn {
  margin: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
  .btn:hover {
    transform: rotate(7deg);
  }

/*Log In =================================*/
/*========================================*/
#modal1 {
  background-color: #E8E8E8;
  opacity: 0.9;
}
  .box1 {
    margin-bottom: 0px;
  }
.modal-footer {
  background-color: #E8E8E8;
  opacity: 0.9;
  top: -20px;
}


/*Nav Bar ================================*/
/*========================================*/
nav {
  z-index: 10;
  background: inherit;
}
  #logo-container {
    font-size: 25px;
    text-shadow: 1px 1px 2px #303030;
  }
  .nav-bar-btn {
    font-size: 18px;
    text-shadow: 1px 1px 2px #303030;
  }

/*Body Wrapper ===========================*/
/*========================================*/
.body-wrapper {
  z-index: 5;
  padding-top: 20px;
  overflow: auto;
}

/*Title and Image Container =============*/
/*=======================================*/
.parallax-container.cont1 {
  min-height: 250px;
  line-height: 0;
  height: auto;
  width: 100%;
}
  .parallax-container .section {
    width: 100%;
  }
    .parallax-container.cont1 .header.page-title {
      text-shadow: 2px 2px 2px #303030;
      font-size: 75px;
    }
  .parallax-container .parallax {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
  .parallax-container .parallax img {
    position: absolute;
    z-index: -2;
    left: 50%;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
  .parallax img {
    width: 100%;
  }
  .no-pad-bot h1 {
    font-size: 65px;
  }
  .no-pad-bot .container .header {
    margin-top: 0px;
    text-shadow: 2px 2px 3px #E8E8E8;
    font-weight: 400;
  }
  .no-pad-bot .container .header.image-text {
    margin-top: 0px;
    font-size: 25px;
    text-shadow: 2px 2px 3px #FFFFFF;
  }

  /*Background Image ====================*/
  /*=====================================*/
  .imgdiv1 {
    height: 10px;
    z-index: -1;
    top: 0;
    left:0;
  }
    #img1  {
      height: 100%;
      position: fixed;
     }

  /*Title Area ==========================*/
  /*=====================================*/
  #index-banner {
    padding-top: 0px;
  }
    .cont1 {
      max-height: 0px;
      width: 100%;
    }
    #start {
      opacity: 0.9;
    }

  /*Image on Page =======================*/
  /*=====================================*/
  .parallax-container.img-box1 {
    height: 450px;
  }
    /*Quotes ============================*/
    /*===================================*/
    .header.image-text#quotes {
      background-color: #FFF5EE;
      opacity: 0.70;
      margin-top: 48px;
      padding: 24px 14px;
      border-radius: 3px;
    }

/*Activity Container =====================*/
/*========================================*/
.activity-container { 
}
  .section.section1 {
    padding-bottom: 0px;
  }
    .row .col.s12.box3 {
      padding: 0px;
    }
      .activity-card {
        opacity: 0.9;
      }
        .card-content.box6 {
          padding-top: 10px;
        }


/*City Search Box ======================*/
/*======================================*/
.row .col.card.city-card {
  opacity: 0.9;
}
  .card .card-content.box4 {
    padding: 15px;
    padding-bottom: 0px;
    padding-top: 10px;
  }
  .card .card-action.box5 {
    padding: 0px;
  }
    .col.box9 {
      align-content: center;
    }    
      .row.box7 {
        margin-bottom: 10px;
      }
        .input-field.box8 {
          margin-top: 0px;
        }


/*Map and City Info Section ==============*/
/*========================================*/
#map-card {
  height: 850px;
  padding-top: 10;
  margin-top: 15px;
  margin-bottom: 5px;
  width: 97%;
  background-color: #E8E8E8;
  opacity: 0.9;
  border-style: solid;
  border-color: slategray;
  border-width: 2.2px;
}
  #wiki-header {
    text-shadow: 2px 2px 3px grey;
    padding-top: 5px;
    margin-bottom: 15px;
  }
    #wiki-header h4 {
      margin-top: 2px;
      margin-bottom: 2px;
      font-weight: thin;
    }
  .city-info {
    background-color: white;
    height: 724px;
    overflow-y: scroll;
  }
    #wiki-info {
      margin: 10px; 
    }
  .col.map-header {
    padding-right: 0px;
  }
    .map-header h4 {
      font-size: 15px;
      font-style: tahoma;
      margin-top: 0px;
      margin-bottom: 5px;
      /*text-shadow: 1px 1px 2px grey;*/
      z-index: 10;
    }
    #map-id {
      height: 701px;
      padding-left: 0;
      padding-right: 0;
      margin-right: 0;
      z-index: 5;
    }


/*Footer =================================*/
/*========================================*/
footer.page-footer {
  margin: 0;
  margin-top: 20px;
  padding-top: 0px;
}
  .row.box10 {
    margin-bottom: 0px;
    padding-bottom: 10px;
  }
    footer .contact-us {

    }
  footer h5 {
    margin-bottom: 0px;
  }
  footer.page-footer .footer-copyright {
    padding: 0px;
  }
  footer p {
    margin: 2px;
  }
  .chip a {
    color: white;
  }
    .chip a:hover {
      font-weight: bold;
      color: #00FFFF;
      padding: 5px;
    }


/******************************************/


/*Media Queries ==========================*/
/*========================================*/

/*Rules for browser's width between 
992px and 600px ================*/
@media only screen and (max-width : 992px) {
  .brand-logo {
    left: 0;
  }
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 0;
  }

  .city-search {
    width: 100%;
  }
}


/*Rules for browser's width 
600px or less ==================*/
@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
  .city-search {
    width: 100%;
  }
}



















