/* Layout Stylesheet **********************/

/*General Styling ========================*/
/*========================================*/
body {
  background-color: #303030;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

nav ul a,
nav .brand-logo {
  color: #FFFFFF;
}

p {
  line-height: 2rem;
}

img {
    border: 0;
}

.btn {
  margin: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
  .btn:hover {
    transform: rotate(7deg);
  }


/*Nav Bar ================================*/
/*========================================*/
.navbar-fixed {
  background-color: transparent;
}
  #logo-container {
  /*  background-color: white;
    opacity: 0.5;*/
    font-size: 25px;
    text-shadow: 1px 1px 2px #303030;
  }
  .nav-bar-btn {
    font-size: 18px;
  }


/*Title and Image Container =============*/
/*========================================*/
.parallax-container {
  min-height: 450px;
  line-height: 0;
  height: auto;
  width: 100%;
}
  .parallax-container .section {
    width: 100%;
  }
  .parallax-container .parallax {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
  .parallax-container .parallax img {
    position: absolute;
    z-index: -2;
    left: 50%;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
  .parallax img {
    width: 100%;
  }

.no-pad-bot h1 {
  font-size: 65px;
}

.no-pad-bot .container .header {
  margin-top: 0px;
  text-shadow: 2px 2px 3px #303030;
}

  /*Background Image ====================*/
  /*=====================================*/
  .imgdiv1 {
    height: 10px;
  }
    #img1  {
      height: 100%;
      position: fixed;
      /*opacity: 0.8;*/
     }

  /*Title Area ==========================*/
  /*=====================================*/
  #index-banner {
    padding-top: 0px;
  }
    .cont1 {
      max-height: 0px;
      width: 100%;
    }
    #start {
      opacity: 0.9;
    }

  /*City Search Box ======================*/
  /*=====================================*/
  .city-card {
    opacity: 0.9;
    background-color: #E8E8E8;
    
  }


/*Activity Container =====================*/
/*========================================*/
.activity-container {
  margin-top: 0px;
}
  .activity-card {
    opacity: 0.9;
    background-color: #E8E8E8;
  }


/*City Info Section ===========================*/
/*========================================*/
.city-info {
  opacity: 0.9;
  background-color: #E8E8E8;
  margin: 5px 20px;
  padding: 2px 5px;
  height: 800px;
  overflow-y: scroll;

}
  #wiki-header {
    text-shadow: 2px 2px 3px grey;
  }
  #wiki-info {
    margin: 10px; 
  }


/*Map Section ============================*/
/*========================================*/
#map-card {
  height: 800px;
  padding-top: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  background-color: #E8E8E8;

}
  .map-header h4 {
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-shadow: 1px 1px 2px grey;
  }
  #map-id {
    height: 724px;
/*    width: 682px;*/
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
  }


/*Footer =================================*/
/*========================================*/
footer.page-footer {
  margin: 0;
  margin-top: 20px;
}


/******************************************/


/*Media Queries ==========================*/
/*========================================*/

/*Rules for browser's width between 
992px and 600px ================*/
@media only screen and (max-width : 992px) {
  .brand-logo {
    left: 0;
  }
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 0;
  }

  .city-search {
    width: 100%;
  }
}


/*Rules for browser's width 
600px or less ==================*/
@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
  .city-search {
    width: 100%;
  }
}



















